/* PathfindingVisualizer.css */
.grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding-top: 20px;
  }
  
  .row {
    display: flex;
  }
  
  .Node {
    width: 20px;
    height: 20px;
    background-color: white;
    border: 1px solid #ccc;
    /* Add additional styling here for your nodes */
  }

/* From Uiverse.io by mrhyddenn */ 
.shadow__btn {
  padding: 10px 20px;
  border: none;
  font-size: 17px;
  color: #fff;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
  cursor: pointer;
  margin-top: 10px;
}

.shadow__btn {
  background: rgb(0,140,255);
  box-shadow: 0 0 25px rgb(0,140,255);
}

.shadow__btn:hover {
  box-shadow: 0 0 5px rgb(0,140,255),
              0 0 25px rgb(0,140,255),
              0 0 50px rgb(0,140,255),
              0 0 100px rgb(0,140,255);
}